<ion-header>
  <ion-toolbar>
    <ion-title>À propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>À propos de mon application CRUD</h1>
    <p>Cette application a été développée avec Ionic et Angular. Elle permet de gérer une liste d'éléments avec les opérations CRUD (Créer, Lire, Mettre à jour, Supprimer).<br>
      Elle a pour but de mettre en avant les jeux du passé ou les souvenirs sont de mise. 
    </p>
  </div>

  <div>
    <img [src]="imageUrl" alt="Image d'accueil">
  </div>
</ion-content>