<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ajouter un jeu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="text" label="title" [(ngModel)]="game.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" label="platform" [(ngModel)]="game.platform"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" label="description" [(ngModel)]="game.description"></ion-input>
  </ion-item>

  <p class="text-center">
    <ion-button (click)="add()">Envoyer</ion-button>
  </p>
</ion-content>
