<ion-header>
  <ion-toolbar>
    <ion-title>Liste des jeux vidéo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button routerLink="/create">Ajouter un jeu</ion-button>
    <ion-list>
      <ion-item *ngFor="let game of games">
        <ion-label>{{ game.title }}</ion-label>
        <div class="item-note" slot="end">
          <ion-button (click)="navigateToEdit(game.id)">Modifier</ion-button>
          <ion-button (click)="deleteGame(game.id)">Supprimer</ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>